/* For Extra Small Device to 320px Device */
@media only screen and (max-width: 319.5px) {}

/* For Smartphone */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* Dashboard Header :: Start */
    .sidebar {
        margin-left: -100%;
    }
    .siderbar-menu {
        margin-top: 10px;
      }
    main.dashboard-wrapper {
        margin-left: 10px;
    }
    .dash-header-col-left h3 {
        font-size: 22px;
    }
    .dash-header-col-left p {
        font-size: 12px;
    }
    .dash-main-right {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 90px;
        padding-left: 10px;}
    /* Dashboard Header :: End */
    /* Siderbar :: Start */
    a.sidebar-btn {
        display: block !important;
    }
    .sidebar-show {
        margin-left: 0;
        margin-top: -9px;
    }
    /* Siderbar :: End */
    .mb-hide-left-inner {
        margin-left: -100%;
    }
}

/* For Small Size Tab */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Dashboard Header :: Start */
    
    /* Dashboard Header :: End */
}

/* For Big and Average Size Tab */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    /* Dashboard Header :: Start */
    
    /* Dashboard Header :: End */
}

/* for Tab and Laptop Medium Size Screen */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
    /* Dashboard Header :: Start */
    
    /* Dashboard Header :: End */
}

/* for Medium Size Laptop and Full Size Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    /* Dashboard Header :: Start */
    
    /* Dashboard Header :: End */
}

/* For Big Size Screen More than 1200px */
@media only screen and (min-width: 1200px) {}